@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";



:root {
  --background: #ffffff;
  --foreground: #171717;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-italiana: "Italiana", sans-serif;
  --font-outfit: "Outfit", sans-serif;;
  --font-rubik: "Rubik", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}




/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.main__container{
  @apply w-[98%] md:w-[600px] lg:w-[700px] xl:w-[820px]
}
.ham__nav a{
  @apply font-outfit text-2xl font-extralight;
}
.nav__links{
  @apply hidden md:flex;
}
.nav__links a{
  @apply cursor-pointer text-2xl md:px-2 lg:px-4 font-outfit font-extralight h-fit;
}
.nav__links a:not(:last-child){
  @apply border-r-2 ;
}
.nav__links a:last-child{
  @apply  md:pl-2 lg:pl-4 font-outfit;
}
.nav__links a:not(:last-child){
  @apply border-r-2 border-black
}
.gradient_bg{
  @apply bg-gradient-to-b from-[#CAD2DC] to-white;
}
.gradient_bg2{
  @apply bg-gradient-to-b md:bg-gradient-to-r from-[#FFE7E7] to-[#FFAEB0];
}
.nav__links-mobile a{
  @apply font-semibold
}
.quote-button{
  @apply cursor-pointer h-[50px] z-10 absolute top-[20%];
}

.fade-in__animation{
  animation: fade-in;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.scroll__appear{
  @apply transition-opacity delay-[250ms] duration-1000 ease-in-out ;
}

.rubik-300__italic {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
}

@keyframes fade-in {
  
  0%{
    opacity: 0;
  }
  50%{
    opacity: .7;
  }
  100%{
    opacity: 1;
  }
}

